html {
  height: 4034px;
  width: 1920px;
  margin-top: 0em;
}

main {
  height: 4034px;
  width: 1920px;
}

.title-screen {
  background-color: #67a75f;
  background-image: url(..Images/DSC_0095.png);
  /* height: 137px; */
  width: 1920px;
  background-repeat: no-repeat;
}

h1 {
  background-repeat: no-repeat;
  font-size: 80px;
  font-weight: lighter;
  margin: -141px auto 0px;
  font-family: renata, sans-serif;
  color: white;
  padding-left: 350px;
  padding-top: 20px;
  position: absolute;
}

.tc {
  background-color: #90b18b;
  margin: -29px auto 0 auto;
  height: 90px;
  width: 1920px;
  font-family: amandine, sans-serif;
  font-style: normal;
  font-size: 25px;
}

.nav-tc ul {
  list-style-type: none;
  text-align: center;
  color: white;
}

.nav-tc li {
  display: inline-flex;
  margin: 0 2em;
  padding-inline-start: 1em;
  padding-inline-end: 1em;
  padding-top: 1em;
}

.nav-tc :link {
  color: black;
  text-decoration: none;
}

.nav-tc :visited {
  color: black;
}

.nav-tc :hover {
  color: white;
}
.nav-tc :active {
  color: white;
}

.main-page-content {
  margin: 0 auto;
  height: 2145px;
}

.jack-stick {
  background-image: url(Images/DSC_0149.JPG);
  width: 1041px;
  position: absolute;
  height: 741px;
  margin-top: 0px;
}

.man-pup {
  background-image: url(Images/yogendra-singh-K8JxScoZb4A-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: auto;
  margin-top: 0px;
  margin-left: 1041px;
  width: 879px;
  height: 587px;
  position: absolute;
}

.boy-pup {
  background-image: url(Images/dillon-kydd-f7OttGMaVok-unsplash.jpg);
  background-repeat: no-repeat;
  width: 881px;
  height: 1322px;
  margin-top: 694px;
  position: absolute;
}

.corgi-pup {
  background-image: url(Images/patrick-hendry-yC-9hSsEr7Y-unsplash.jpg);
  height: 726px;
  width: 1089px;
  margin-left: 881px;
  margin-top: 562px;
  margin-right: 0px;
  position: absolute;
}

.girl-pup {
  background-image: url(Images/r-d-smith-mwzVasRlDpc-unsplash.jpg);
  height: 729px;
  width: 1091px;
  margin-top: 1287px;
  margin-left: 881px;
}
.page-title {
  background-color: White;
  margin-top: 100px;
  text-align: center;
  font-family: renata;
  text-decoration: solid;
  font-size: 80px;
}

p {
  background-color: white;
  margin: 0 auto;
  text-align: center;
  font-family: amandine, sans-serif;
  font-size: 30px;
  padding-top: 39px;
  padding-left: 250px;
  padding-right: 250px;
}

.bottom-content {
  background-color: #8aab64;
  display: flex;
  flex-direction: row;
  width: 1920px;
  height: 460px;
  margin-top: 100%;
  padding-right: 2em;
  padding-left: 2em;
  margin-bottom: 0;
  text-align: center;
}

.social-content {
  background-color: #8aab64;
  text-align: center;
  margin-left: 5em;
  margin-right: 0;
}

.social-title {
  font-size: 50px;
  padding-left: 1em;
  padding-right: 1em;
}

.nav-b1 a {
  background-color: #8aab64;
  text-decoration-style: none;
  list-style: none;
  color: black;
  display: flex;
  flex-direction: column;
}

.nav-b1 a:visited {
  color: black;
}

.nav-b1 a:hover {
  color: white;
}

.nav-b1 a:active {
  color: white;
}

.contact-content {
  display: flex;
  flex-flow: column;
  padding-left: 3em;
  text-align: center;
}

.contact-title {
  font-size: 50px;
  padding-right: 1em;
  padding-left: 1em;
}

.nav-b2 a {
  text-decoration-style: none;
  list-style: none;
  color: black;
}

.supplies {
  height: 4034px;
  width: 1920px;
}

.title-screen1 {
  background-color: #67a75f;
  background-image: url(..Images/DSC_0095.png);
  /* height: 137px; */
  width: 1920px;
  background-repeat: no-repeat;
}

.header1 {
  background-repeat: no-repeat;
  font-size: 80px;
  font-weight: lighter;
  margin: -141px auto 0px;
  font-family: renata, sans-serif;
  color: white;
  padding-left: 350px;
  padding-top: 20px;
  position: absolute;
}

.puppy-supplies {
  text-align: center;
  font-size: 80px;
  font-family: renata, sans-serif;
}

.food {
  background-image: url(Images/kacper-chrzanowski-pOzPy0vF7HY-unsplash.jpg);
  width: 290px;
  height: 510px;
  border-radius: 41px;
  padding-left: 75px;
}

.toys {
  background-image: url(Images/samia-liamani-9lVdutKM9vg-unsplash.jpg);
  width: 290px;
  height: 510px;
  border-radius: 41px;
  padding-left: 75px;
}

.accessories {
  background-image: url(Images/roberto-nickson-To57QlgkoIo-unsplash.jpg);
  width: 290px;
  height: 510px;
  border-radius: 41px;
  padding-left: 75px;
}

.health {
  background-image: url(Images/enecta-cannabis-extracts-2hIqr9hBUMg-unsplash.jpg);
  width: 290px;
  height: 510px;
  border-radius: 41px;
  padding-left: 75px;
  padding-right: 75px;
}

.nav-ps ul {
  list-style-type: none;
  text-align: center;
}
