html {
  height: 4034px;
  width: 1920px;
  margin: 0%;
}

body {
  margin: 0;
}

main {
  height: 4034px;
  width: 1920px;
  margin: 0%;
}

.title-screen {
  background-color: #9cba79;
  background-image: url(..Images/DSC_0095.png);
  /* height: 137px; */
  width: 1920px;
  background-image: linear-gradient(45deg, #4f761b 1%, #c8e2c6 100%),
    linear-gradient(-45deg, #c8e2c6 0%, #9cba79 80%);
}

/*search bar*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 30%;
  position: absolute;
  margin-right: 41px;
  margin-left: 1500px;
  margin-top: -100px;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 300px;
  border: 3px solid #709571;
  border-right: none;
  padding: 5px;
  height: 40px;
  border-radius: 38px 0 0 38px;
  outline: none;
  color: #9dbfaf;
  font-size: 20px;
}

.searchTerm:focus {
  color: #00b4cc;
}

.searchButton {
  width: 50px;
  border: 1px solid #709571;
  background-color: #709571;
  text-align: center;
  color: #fff;
  border-radius: 0 38px 38px 0;
  cursor: pointer;
  font-size: 40px;
}

h1 {
  background-repeat: no-repeat;
  font-size: 80px;
  font-weight: lighter;
  margin: -141px auto 0px;
  font-family: renata, sans-serif;
  color: white;
  padding-left: 350px;
  padding-top: 20px;
  position: absolute;
}

.tc {
  background-color: #90b18b;
  margin: -29px auto 0 auto;
  height: 90px;
  width: 1920px;
  font-family: amandine, sans-serif;
  font-style: normal;
  font-size: 25px;
}

.about-us {
  font-family: balboa-plus-primary, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.nav-tc ul {
  list-style-type: none;
  text-align: center;
  color: white;
}

.nav-tc li {
  display: inline-flex;
  margin: 0 2em;
  padding-inline-start: 1em;
  padding-inline-end: 1em;
  padding-top: 1em;
}

.nav-tc :link {
  color: black;
  text-decoration: none;
}

.nav-tc :visited {
  color: black;
}

.nav-tc :hover {
  color: white;
}
.nav-tc :active {
  color: white;
}

.main-page-content {
  margin: 0 auto;
  height: 2145px;
}

.jack-stick {
  background-image: url(Images/DSC_0149.JPG);
  width: 1041px;
  position: absolute;
  height: 741px;
  margin-top: 0px;
}

.man-pup {
  background-image: url(Images/yogendra-singh-K8JxScoZb4A-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: auto;
  margin-top: 0px;
  margin-left: 1041px;
  width: 879px;
  height: 587px;
  position: absolute;
}

.boy-pup {
  background-image: url(Images/dillon-kydd-f7OttGMaVok-unsplash.jpg);
  background-repeat: no-repeat;
  width: 881px;
  height: 1322px;
  margin-top: 674px;
  position: absolute;
}

.corgi-pup {
  background-image: url(Images/patrick-hendry-yC-9hSsEr7Y-unsplash.jpg);
  height: 706px;
  width: 1039px;
  margin-left: 881px;
  margin-top: 562px;
  margin-right: 0px;
  position: absolute;
}

.girl-pup {
  background-image: url(Images/r-d-smith-mwzVasRlDpc-unsplash.jpg);
  height: 729px;
  width: 1091px;
  margin-top: 1267px;
  margin-left: 829px;
}
.page-title {
  background-color: White;
  margin-top: 100px;
  text-align: center;
  font-family: renata;
  text-decoration: solid;
  font-size: 80px;
}

p {
  background-color: white;
  margin: 0 auto;
  text-align: center;
  font-family: amandine, sans-serif;
  font-size: 30px;
  padding-top: 39px;
  padding-left: 250px;
  padding-right: 250px;
}

.bottom-content {
  background-color: #8aab64;
  display: flex;
  flex-direction: row;
  width: 1920px;
  height: 460px;
  margin-top: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 0;
  text-align: center;
}

.social-content {
  background-color: #8aab64;
  padding-left: 150px;
}

.social-title {
  font-family: balboa-plus-primary, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  margin-bottom: 0;
}

.nav-b1 {
  list-style: none;
  font-family: amandine, sans-serif;
  font-size: 40px;
  padding-inline-start: 0;
  margin: 0;
}

.nav-b1 a {
  background-color: #8aab64;
  text-decoration-style: none;
  color: black;
  display: flex;
  flex-direction: column;
  padding-top: 23px;
  text-align: center;
  margin-inline-start: 0;
}

.nav-b1 :link {
  text-decoration: none;
}

.nav-b1 a:visited {
  color: black;
}

.nav-b1 a:hover {
  color: white;
}

.nav-b1 a:active {
  color: white;
}

.contact-content {
  flex-flow: column;
  padding-left: 432px;
  text-align: center;
}

.contact-title {
  font-family: balboa-plus-primary, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  margin-bottom: 0;
}

.nav-b2 {
  list-style: none;
  font-family: amandine, sans-serif;
  font-size: 40px;
  padding-inline-start: 0;
  margin: 0;
  padding-top: 23px;
}

.nav-b2 a {
  text-decoration: none;
  list-style: none;
  color: black;
  padding-top: 23px;
  padding-bottom: 23px;
}

.nav-b2 :link {
  text-decoration: none;
}

.nav-b2 a:visited {
  color: black;
}

.nav-b2 a:hover {
  color: white;
}

.nav-b2 a:active {
  color: white;
}

.support {
  padding-top: 23px;
}

.legal-content {
  display: flex;
  flex-flow: column;
  padding-left: 432px;
  text-align: center;
}

.legal {
  font-family: balboa-plus-primary, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  margin-bottom: 0;
}

.nav-b3 {
  list-style: none;
  font-family: amandine, sans-serif;
  font-size: 40px;
  padding-inline-start: 0;
  margin: 0;
  padding-top: 23px;
}

.nav-b3 a {
  text-decoration: none;
  list-style: none;
  color: black;
  padding-top: 23px;
  padding-bottom: 23px;
}

.nav-b3 :link {
  text-decoration: none;
}

.nav-b3 a:visited {
  color: black;
}

.nav-b3 a:hover {
  color: white;
}

.nav-b3 a:active {
  color: white;
}
/* PUPPY SUPPLIES PAGE */

.supplies {
  height: 4034px;
  width: 1920px;
}

.title-screen1 {
  background-color: #67a75f;
  background-image: url(..Images/DSC_0095.png);
  /* height: 137px; */
  width: 1920px;
  background-repeat: no-repeat;
}

.header1 {
  background-repeat: no-repeat;
  font-size: 80px;
  font-weight: lighter;
  margin: -141px auto 0px;
  font-family: renata, sans-serif;
  color: white;
  padding-left: 350px;
  padding-top: 20px;
  position: absolute;
}

.puppy-supplies {
  text-align: center;
  font-size: 80px;
  font-family: renata, sans-serif;
}

.food {
  background-image: url(Images/kacper-chrzanowski-pOzPy0vF7HY-unsplash.jpg);
  width: 290px;
  height: 510px;
  border-radius: 41px;
  padding-left: 75px;
}

.toys {
  background-image: url(Images/samia-liamani-9lVdutKM9vg-unsplash.jpg);
  width: 290px;
  height: 510px;
  border-radius: 41px;
  padding-left: 75px;
}

.accessories {
  background-image: url(Images/roberto-nickson-To57QlgkoIo-unsplash.jpg);
  width: 290px;
  height: 510px;
  border-radius: 41px;
  padding-left: 75px;
}

.health {
  background-image: url(Images/enecta-cannabis-extracts-2hIqr9hBUMg-unsplash.jpg);
  width: 290px;
  height: 510px;
  border-radius: 41px;
  padding-left: 75px;
  padding-right: 75px;
}

.nav-ps ul {
  list-style-type: none;
  text-align: center;
}
