html {
  color: black;
  height: 4034px;
  width: 1920px;
}

main {
  height: 4034px;
  max-width: 1920px;
}

h1 {
  background-image: url(..Images/DSC_0095.png);
  background-repeat: no-repeat;
  background-color: #67a75f;
  height: auto;
  width: auto;
  font-size: 80px;
  margin: -141px auto 0px;
  font-family: renata, sans-serif;
  color: white;
  padding-left: 350px;
  padding-top: 20px;
}

.btn {
  display: flex;
  flex-direction: row;
  height: 61px;
  padding-top: 9px;
  padding-bottom: 8px;
  font-family: amandine, sans-serif;
  font-style: normal;
  font-size: 20px;
  text-align: center;
  margin-block-start: 0 auto;
  margin-block-end: 0auto;
  background-color: #90b18b;
  border-color: #90b18b;
}

.btn:hover {
  color: white;
}

.btn-about {
  padding-left: 92px;
  padding-right: 95px;
}

.btn-supplies {
  padding-left: 95px;
  padding-right: 95px;
}

.btn-training {
  padding-left: 95px;
  padding-right: 95px;
}

.btn-planning {
  padding-left: 95px;
  padding-right: 95px;
}

.btn-first-time-parents {
  padding-left: 95px;
  padding-right: 95px;
}

.btn-so-adopting {
  padding-left: 95px;
  padding-right: 95px;
}

.main-page-content {
  margin: 0 auto;
  height: 2145px;
}
.page-title {
  background-color: White;
  margin: auto;
  text-align: center;
  font-family: renata;
  text-decoration: solid;
  font-size: 80px;
}

p {
  background-color: white;
  margin: 0 auto;
  text-align: center;
  font-family: amandine, sans-serif;
  font-size: 30px;
  padding-top: 39px;
  padding-left: 250px;
  padding-right: 250px;
}

.bottom-content {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 3605px;
  margin: auto;
  padding-left: auto;
  padding-right: auto;
}

.social-content {
  display: flex;
  flex-flow: column;
  margin-left: 3em;
  margin-right: 3em;
  width: 50%;
}

.contact-content {
  display: flex;
  flex-flow: column;
  margin-left: 3em;
  margin-right: 3em;
  width: 50%;
}

.privacy-content {
  display: flex;
  flex-flow: column;
  margin-left: 3em;
  margin-right: 3em;
  width: 50%;
}
